@using Dominio
@model Cuenta

<hr />
<div class="row">
    <div class="col-md-4">

        <form method="post" asp-controller="Cuenta" asp-action="Create">
            <label>Tiene factor de autenticacion?</label>
            <input type="checkbox" name="mfa" value="true"/> <hr> <hr />
            <div class="form-group">
               <p>Desea crear la cuenta?</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Si" class="btn btn-primary" />
              
            </div>
        </form>
    </div>
</div>
<p>@ViewBag.msg</p>