@using Dominio
@model Activo
<h1>Editar</h1>
<h4>Subtitulo</h4>
<hr />
<form method="post">

    <input type="hidden" asp-for="CodigoAlfanumerico" />

    <p>¿Estas seguro cabron?</p>

    <div class="form-group">
        <input type="submit" value="Desasociar" class="btn btn-primary" />
    </div>

</form>

<div>
    <a asp-controller="Persona" asp-action="Index">
        Volver a la lista
    </a>
</div>