@using Dominio
@model Activo
<h1>Editar</h1>
<h4>Subtitulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

          <p>Esta seguro crack?</p>
           
            <div class="form-group">
                <input type="submit" value="Desasociar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>